<?xml version="1.0" encoding="utf-8"?><!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sp51.spotpass.com.spotpass">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />


    <application
        android:name=".SuiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="icon,label,theme">

        <activity
            android:name=".ui.activity.StartUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.spotpass"
                    android:scheme="spotpass" />
                <data
                    android:host="com.spotpass"
                    android:scheme="http" />
                <data
                    android:host="com.spotpass"
                    android:scheme="https" />
                <data
                    android:host="com.spotpass"
                    android:scheme="intent" />
                <data
                    android:host="com.spotpass"
                    android:scheme="Intent" />

            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ProfitListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.IntegralMallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DetailsWarehouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainInteractionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReleaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VarietiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PaymentSuccess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PutForwardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BankCardDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProfitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DesignatesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyAssetsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BillingRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AccountManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddBankCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BankLIstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RecordEexchangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OnlineServiceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DetailsHoldingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ExperienceVoucherAcitivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PubtliDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SignLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RechargeDesigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SimpleDetailModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TokensActivityDialog"
            android:theme="@style/CustomActivityDialogStyle" />

        <service android:name=".ui.service.LastPriceService" />
        <service android:name=".ui.service.TodayPriceService" />
        <service android:name=".ui.service.QryKChartService" />
        <service android:name=".ui.service.UpdataService" />
        <service android:name=".ui.service.WallstreetcnService" />

        <activity
            android:name=".ui.kchartlib.chatr.ExampleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106281166" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5afe3244b27b0a3ff90001c1" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- FileProvider配置访问路径，适配7.0及其以上 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>



        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"/>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="${applicationId}.DataProvider"
            android:exported="false" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}" />
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="${applicationId}.DownloadProvider"
            android:exported="true" />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name=".MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}"></category>
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" /> <!--  </>值来自开发者平台取得的AppKey-->


    </application>


    <!-- Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />

    <uses-permission
        android:name="android.permission.SYSTEM_OVERLAY_WINDOW"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission
        android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 获取电池电量统计信息 -->
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> <!-- 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 挂载、反挂载外部文件系统 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 允许读写系统设置项 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 显示系统窗口 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 可选用户权限 -->  <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <!-- 通过WiFi或移动基站的方式获取用户错略的经纬度信息，定位精度大概误差在30~1500米 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 通过GPS芯片接收卫星的定位信息，定位精度达10米以内 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 允许程序访问额外的定位提供者指令 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 改变网络状态如是否能联网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许程序获取当前或最近运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 读取外部SDCard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许应用访问Wi-Fi网络的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许应用访问网络上的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许读取电话的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.PACKAGEUSAGESTATS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

</manifest>